body {
  font-family: "Inter", sans-serif;
  background-color: #F0FDF4;
}


.banner{
  width: 100%;
  background-image: url(./assets/hero-leaf1.png);
  min-height: 383px;
  background-repeat: no-repeat;
  background-color: #CFF0DC;
  /* background-image:; */
}
.banner2{
  width: 100%;
  background-image: url(./assets/hero-leaf2.png);
  background-position: right;
  min-height: 383px;
  background-repeat: no-repeat;
}
